		 *
			{
			box-sizing: border-box;	
			}
         body
 			{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background-color: black ;  				
 			background-image: url(UODark.gif);
            background-repeat: no-repeat;
 			margin: 0;        
  			} 
         .tex-background
            {
             background-color: black;
         }
         .logo-background
            {
             background-image: url(UODark.gif);
             background-position: center;
         }
        .header
            {
            background-color: black;
  			background-image:url(UODark.gif);
            opacity: .95;
            background-size: 580px auto;
            background-position: right center;
            background-repeat: no-repeat;            
  			padding: 5px 25px;
  			tex-align: left;   
            }
         
        img     
            {
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
            }

        .topnav 
            {
            opacity: 0.75;
            overflow: hidden;
            background-image: url(concrete356.gif);             
             }
        p1
            {
              color: #b3b3b3;              
            }
        p2
            {
             color: black;
            }
        					
		h1
 			{
 			font-family: "Gabriola", Segoe Print, Times New Roman;
 			 color:rgba(8, 8, 7, 0.75); 
 			text-shadow: 2px 2px 5px red, 2px 2px 5px black;
 			font-size: 85px; 
 			}
 		h2
 			{
            font-family: "Gabriola", Segoe Print, Times New Roman;
            color:#716a6a;  
            text-shadow: 2px 2px 5px red;
 			font-size: 30px;
            opacity: .75;
 			}
  		h3
 			{
 	 	    font-family: "Gabriola", Segoe Print, Times New Roman;
            color:black;
            text-shadow: 2px 2px 5px red, 2px 2px 5px black;
	        font-size: 30px;
 			padding-left: 5%;
  			position:center;
              				 
 			}
 		h4
 			{
 			font-family: "Gabriola", Segoe Print, Times New Roman;
 			/*color:#b3b3b3;*/
            text-shadow:1px 1px 2px #663300;
            font-size: 20px;
 			padding-left: 10%;
 			
 			
 			}
         a
            {
            color:black;
            text-shadow: 2px 2px 5px red, 2px 2px 5px black;
	        
         }
 	    /* unvisited link */
	    a:link, a:visited  
            {
            text-decoration: none;			
            float: left;
            text-align: center;
            padding: 14px 16px;
            display: block;          
            white-space: nowrap; 
  			} 
 
	 				/* mouse over link */
    	a:hover, a:active 
            {
            text-decoration: none;			
            float: left;
            text-align: center;
            padding: 14px 16px;
            display: block;          
            white-space: nowrap;
            } 
		ul 
			{
				    list-style-type: none;
		    margin: 0;
			padding: 0;
			}

        div.header-container
            {
    width: 30em;
    border: 1em solid;
    background-color: black;
        }
        div.header-box 
            {
            box-sizing: border-box;
            width: 50%;
            border: groove;
            float: left;
        }

        .flex-container 
            {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;            
            }
 
        .main
            {
            color: #b3b3b3;
            flex:100%;         
            }

        .flex-item-1 
            {
            flex: 100%;
            position:relative;

            } 

        .flex-item-2
            {
             width: 60%;    
            padding: 30px;    
            float:left;    
            }        
        .flex-item-3
            { 
            width:25%;
            padding-right:20px;
           float:right;
            } 
                 

 				