		body
 				{  	
 					font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 					background-image: url(TanPaper.gif);				
 				}
 			h1
 				{
 					font-family: "Gabriola", Segoe Print, Times New Roman;
 					font-size: 85px;
 					text-shadow: 2px 2px 5px red, 2px 2px 5px black;
 			 
 				}
 			h2
 				{	font-family: "Gabriola", Segoe Print, Times New Roman;
 					font-size: 30px;
 					text-shadow: 2px 2px 5px brown;
 				}
 			h3
 				{	
 					padding-left: 5%;
 					font-size: 25px;
 				 	text-shadow: 1px 1px 3px #663300; 				 
 				}
 			h4
 				{
 					padding-left: 10%;
 					font-size: 20px;
 					text-shadow:1px 1px 2px #663300;
 				}
 			p
 				{
 					padding-left: 10%;
 					text-indent: 50px;
 					font-size:18px;
 				}
 
 			a
 				{
 					font-size: 20px;
 					color:#000000;
 				}
 			a:hover
 				{
 					font-size:25px;
 					color : #663300;
 				}			
		  ul 
				{
          		 	 list-style-type: none;
           			 padding-left: 5%;
				}
        .nav ul a
				{
           			 text-decoration: none;           		 
				}  
   	
       		.flex-container
      		  {
            		display: -webkit-flex;
            		display: flex;
           			 -webkit-flex-flow: row wrap;
           			 flex-flow: row wrap;
          			  text-align:center;
          		<!--	background-color: #cc8800; --> 
       		 }
  
        .flex-container > * 
       		 {
           			 padding: 15px;
            		-webkit-flex: 1 100%;
           		 	flex: 1 100%;
      		  }

        .article 
       		 {
       		 		padding-left: 5%;
           		 	text-align: left;
       		 }
	

        @media all and (min-width: 768px)
        	{
            .nav 
            {
               		 text-align: left;
                		-webkit-flex: 1 auto;
                	flex: 1 auto;
                	-webkit-flex-order: 2;
                	order: 2;
            }
            
            .article
            {
                	-webkit-flex:5 0px;
                	flex:5 0px;
                	-webkit-order:1;
               		 order:1;
            	}
 
            	
            footer 
            	{
                	-webkit-flex-order:3;
                	order:3;
            	}
        }
 				