        *
            {
            box-sizing: border-box;
            }

		body
 			{  				
 			background-image:url(UODark.gif); 
 			margin: 0;
  			} 
  					/* Style the Header */
  		.header
  			{
  			
  			padding: 20px;
  			tex-align: left;
  			} 					
		h1
 			{
 			font-family: "Gabriola", Segoe Print, Times New Roman;
 			font-size: 85px;
 			text-shadow: 2px 2px 5px red, 2px 2px 5px black;
 			 
 			}
 		h2
 			{	
 			font-family: "Gabriola", Segoe Print, Times New Roman;
 			font-size: 30px;
 			text-shadow: 2px 2px 5px brown;
 			}
  		h3
 			{	
 			padding-left: 5%;
 			font-size: 25px;
 			text-shadow: 1px 1px 3px #663300; 				 
 			}
 		h4
 			{
 			padding-left: 10%;
 			font-size: 20px;
 			text-shadow:1px 1px 2px #663300;
 			}
         /* Style the top navigation bar */
        .topnav
            {
            overflow: hidden;
            background:#ccb776 url(TanPaper.gif);
}

 					/* unvisited link */
	  a:link, a:visited
      {
        	display: block;				
			font-family: "Gabriola", Segoe Print, Times New Roman;
 			font-size: 30px;
 			color:black;
  			text-shadow: 2px 2px 5px red, 2px 2px 5px black;
    float: left;
    display: block;
    /**/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
  			} 
					/* visited link */
/*	  a:visited  
			{
			font-family: "Gabriola", Segoe Print, Times New Roman;
 			font-size: 30px;
 			color:black;
 			text-shadow: 2px 2px 5px brown, 2px 2px 5px black;
			text-decoration: none;
			padding-left:5%;
			}
				*/	
	 				/* mouse over link */
 	  a:hover, a:active {
        	display: block;				
			font-family: "Gabriola", Segoe Print, Times New Roman;
 			font-size: 30px;
 			color:black;
  			text-shadow: 2px 2px 5px red, 2px 2px 5px black;
    float: left;
    display: block;
    /**/
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;  
  			} 
 					
					
					/* selected link */
/*      a:active 
			{
			font-family: "Gabriola", Segoe Print, Times New Roman;
 			font-size: 30px;
 			color:black;
 			text-shadow: 2px 2px 5px red, 2px 2px 5px black;
			text-decoration: none;
			padding-left:5%;
			}
*/
 
		ul 
			{
				    list-style-type: none;
		    margin: 0;
			padding: 30;
			}
 
        	
   

 				