		body
 				{
 					backgrond-color:brown;
 					background: url(TanPaper.gif); 					
 				}
 			h1
 				{
 					font-size: 45px;
 					text-shadow: 2px 2px 5px red, 1px 1px 4px black;
 			 
 				}
 			h2
 				{
 					font-size: 30px;
 					text-shadow: 2px 2px 5px brown;
 				}
 			h3
 				{
 					font-size: 20px;
 				 	text-shadow: 1px 1px 3px black; 				 
 				}
 			p
 				{
 					font-size:18px;
 				}
 
 			a
 				{
 					font-size: 20px;
 					color:#000000;
 				}
 			a:hover
 				{
 					font-size:25px;
 					color : #663300;
 				}			
		  ul 
				{
          		 	 list-style-type: none;
           			 padding: 0;
				}
        .nav ul a
				{
           			 text-decoration: none;           		 
				}  
   	
       		.flex-container
      		  {
            		display: -webkit-flex;
            		display: flex;
           			 -webkit-flex-flow: row wrap;
           			 flex-flow: row wrap;
          			  text-align:center;
          			  
       		 }
  
        .flex-container > * 
       		 {
           			 padding: 15px;
            		-webkit-flex: 1 100%;
           		 	flex: 1 100%;
      		  }

        .article 
       		 {
           		 	text-align: left;
       		 }
	

        @media all and (min-width: 768px)
        	{
            .nav 
            {
               		 text-align: left;
                		-webkit-flex: 1 auto;
                	flex: 1 auto;
                	-webkit-flex-order: 1;
                	order: 1;
            }
            
            .article
            {
                	-webkit-flex:5 0px;
                	flex:5 0px;
                	-webkit-order:2;
               		 order:2;
            	}
 
            	
            footer 
            	{
                	-webkit-flex-order:4;
                	order:4;
            	}
        }
 				