	/*		*
					{
						box-sizing: border-box;	
					}
	*/	
		body
 				{   					
 					background-image: url(TanPaper.gif);	
 					margin: 0;			
 				}
 			h1
 				{
 					font-family: "Gabriola", Segoe Print, Times New Roman;
 					font-size: 85px;
 					text-shadow: 2px 2px 5px red, 2px 2px 5px black;
 			 
 				}
 		h2
 				{	font-family: "Gabriola", Segoe Print, Times New Roman;
 					font-size: 30px;
 					text-shadow: 2px 2px 5px brown;
 				}
 			h3
 				{	
 					padding-left: 5%;
 					font-size: 25px;
 				 	text-shadow: 1px 1px 3px #663300; 				 
 				}
 			h4
 				{
 					padding-left: 10%;
 					font-size: 20px;
 					text-shadow:1px 1px 2px #663300;
 				}
 			p
 				{
 					padding-left: 10%;
 					text-indent: 50px;
 					font-size:18px;
 				}
 		.header
 				{
 				background-image:url(TanPaper.gif);
 				text-align: center;
 				padding: 20px;
 				}
 				/* the navbar container */
 		.topnav
 				{
 				
 				overflow: hidden;
 				background-image:url(Fire01.gif);
 				}
 		/*navbar links*/
 		.topnav a
 				{
 				float: left;
 				display: block;
 				color: #000000;
 			 
 				text-align:center;
 				padding: 7px 8px;  /* Was   padding: 14px 16px; */
 				text-decoration: none;
 				}
 		/* links - change color on hover */
 		.topnav a:hover
 				{
 				background-color: #ddd;
 				background-image:url(TanPaper.gif);
 				}
 			/* coloms that flote */
 		.column
 				{
 				float: left;
 				padding: 10px;
 				}	
 		.column.side
 				{
 				width: 25%;
 				}
 		.column.article
 				{
 				width: 75%;
 				}
 		.footer.after
 				{
 				text-align: center;
 				content: "";
 				display: table;
 				clear: both;
 				}
 				/* responsiv layer*/
 		@media (max-width: 600px)
 				{
 				.column.side, .colomn.article
 						{
 						width: 100%;
 						}
 				}
 
 			 .topnav 
            {
               		 text-align: left;
                		-webkit-flex: 1 auto;
                	flex: 1 auto;
                	-webkit-flex-order: 2;
                	order: 2;
            }
            
            .column.article
            {
                	-webkit-flex:5 0px;
                	flex:5 0px;
                	-webkit-order:1;
               		 order:1;
            	}
 
            	
           .footer.after
            	{
                	-webkit-flex-order:3;
                	order:3;
            	}
 		

        }
 				